
    <%= render partial: "shared/header3" %>
    <main>
      <div class="search">
        <p>日本酒検索</p>
        <div class="search-content">
          <%= search_form_for @search, url: sakes_path do |f| %>
            <div class="search-field">
              <%= f.search_field :name_cont, class: 'search-input', id: 'value', placeholder:'日本酒名を入力してください' %>

              <%= f.search_field :company_cont, class: 'search-input', placeholder: '酒蔵を入力してください' %>
            </div>
            <div class="select-wrap">
              <%= f.collection_select(:type_id_eq, Type.all, :id, :name, {include_blank: '酒の種類'}) %>

              <%= button_tag( class: "btn") do %>
                <span class="material-icons" id="ransack">検索　search</span>
              <% end %>
            </div>

          <% end %>
          <div id="search">
            <div>
              <button id="start_btn" class="btn">音声入力</button>
            </div>
          </div>
        </div>
      </div>
      <ul class="main-body">
        <% @results.each do |sake|%>
          <li class="restaurant-list">
            <%= link_to sake_path(sake), class: 'detail-restaurant' do %>
              <div class="restaurant-name">
                <span><%= sake.name %></span>
                </div>
       
              <div class="detail">
                <div class= "detail-left">
                  <%= image_tag sake.image.variant(resize:'300X300'), class: 'img-restaurant'%>
                </div>
                <ul class="detail-right">
                  <li class="genre">
                    <p class="genre-list">種類</p>
                    <p class="genre-name"><%= sake.type.name%></p>
                  </li>
                  <li class="genre">
                    <p class="genre-list">日本酒度</p>
                    <p class="genre-name"><%= sake.sake_degree%></p>
                  </li>
                  <li class="genre">
                    <p class="genre-list">酒蔵</p>
                    <p class="genre-name"><%= sake.company%></p>
                  </li>
                  <li class="genre">
                    <p class="genre-list">投稿者</p>
                    <p class="genre-name"><%= sake.user.name%></p>
                  </li>
                </ul>
              </div>
            <% end %>
          </li>
        <%end%>
      </ul>
    </main>
    <%= render partial: "shared/footer" %>