<header class= "second-page-header">
  <div class="header-main">
    <div class= "upper-header">
      <div class = "header-center">
        <p>SAKE with ME</p>
      </div>
      <div class= "header-right">
        <% if user_signed_in? %>
        <div class="users">
          <%= link_to current_user.name, "#" %>
        </div>
        <div class= "users">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </div>
        <% else %>
        <div class="users">
          <%= link_to "ログイン", new_user_session_path %>
        </div>
        <div class= "users">
          <%= link_to "新規登録", new_user_registration_path %>
        </div>
        <% end %>
      </div>
    </div>
    <div class= "nav">
      <ul class="header-lists">
        <li class= "category-list">
          <%= link_to "日本酒一覧", sakes_path %>
        </li>
        <li class= "category-list">
          <%= link_to "飲食店一覧", "/" %>
        </li>
        <li class= "category-list">
          <%= link_to "飲食店酒新規投稿", new_restaurant_path %>
        </li>
        <li class= "category-list">
          <%= link_to "日本酒新規投稿", new_sake_path %>
        </li>
        <li class= "category-list">
          <%= link_to "マイページ", user_path(current_user) %>
        </li>
      </ul>
    </div>
  </div>
  <%# <div class="header-img">
    <div class="title-contents">
      <h2>SAKEの喜びをともに</h2>
      <p class="title-explain">SAKE with MEは飲みたい日本酒を見つけてくれる</p>
      <p class="title-explain">飲食店検索アプリです</p>
    </div>
  </div> %>
</header>