<header class= "top-page-header">
  <div class="header-main">
    <div class= "upper-header">
      <div class = "header-center">
        <p>SAKE with ME</p>
      </div>
      <div class= "header-right">
        <% if user_signed_in? %>
        <div class="users">
          <%= link_to current_user.name, "#" %>
        </div>
        <div class= "users">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </div>
        <% else %>
        <div class="users">
          <%= link_to "ログイン", new_user_session_path %>
        </div>
        <div class= "users">
          <%= link_to "新規登録", new_user_registration_path %>
        </div>
        <% end %>
      </div>
    </div>
      <div class="sp-menu" id="sp-menu">
        <span class="material-icons" id="open">menu</span>
      </div>
    <div class= "nav">
      <ul class="header-lists">
        <li class= "category-list">
          <%= link_to "日本酒一覧", sakes_path %>
        </li>
        <li class= "category-list">
          <%= link_to "飲食店新規投稿", new_restaurant_path %>
        </li>
        <li class= "category-list">
          <%= link_to "日本酒新規投稿", new_sake_path %>
        </li>
        <li class= "category-list">
          <%= link_to "美味しかった日本酒投稿", sake_restaurants_path %>
        </li>
        <% if user_signed_in?%>
        <li class= "category-list">
          <%= link_to "マイページ", user_path(current_user)%>
        </li>
        <% end%>
      </ul>
    </div>
    <div class="overlay">
      <span class="material-icons" id="close">close</span>
      <div class="">
        <ul class="">
        <li class= "">
          <%= link_to "日本酒一覧", sakes_path %>
        </li>
        <li class= "">
          <%= link_to "飲食店新規投稿", new_restaurant_path %>
        </li>
        <li class= "">
          <%= link_to "日本酒新規投稿", new_sake_path %>
        </li>

        <li class= "">
          <%= link_to "美味しかった日本酒投稿", sake_restaurants_path %>
        </li>
        <% if user_signed_in?%>
        <li class= "">
          <%= link_to "マイページ", user_path(current_user)%>
        </li>
        <% end%>
        </ul>
      </div>
    </div>
  </div>
  <div class="header-img">
    <div class="title-contents">
      <h2>SAKEの喜びをともに</h2>
      <p class="title-explain">SAKE with MEは飲みたい日本酒を見つけてくれる</p>
      <p class="title-explain">飲食店検索アプリです</p>
      <div class="search">
        <div class="search-content">
          <%= search_form_for @search, url: restaurants_path do |f| %>
            <div class="search-field">
              <%= f.search_field :name_cont, class: 'search-input', id: 'value', placeholder:'店名を入力してください' %>

              <%= f.search_field :address_cont, class: 'search-input', placeholder: '住所を入力してください' %>
            </div>
            <div class="select-wrap">
            <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, include_blank: '都道府県'%>

            <%= f.collection_select :beer_eq, @restaurant_beer, :beer, :beer, include_blank: '生ビール' %>
            <%= button_tag( class: "btn") do %>
              <span class="material-icons" id="ransack">検索　search</span>
            <% end %>
            </div>

          <% end %>
          <div id="search">
            <div>
              <button id="start_btn" class="btn">音声入力</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>