<%# <% @restaurants.each do |restaurant|%> 
          <li class="restaurant-list">
            <%= link_to restaurant_path(result), class: 'detail-restaurant' do %>
              <div class="restaurant-name">
                <span><%= result.name %></span>
                </div>
       
              <div class="detail">
                <div class= "detail-left">
                  <% result.images.each do |image|%>
                  <%= image_tag image.variant(resize: '400x400'), class: 'img-restaurant'%>
                  <% end %>
                </div>
                <ul class="detail-right">
                  <li class="genre">
                    <p class="genre-list">業態</p>
                    <p class="genre-name"><%= result.genre.name%></p>
                  </li>
                  <li class="genre">
                    <p class="genre-list">生ビール</p>
                    <p class="genre-name"><%= result.beer%></p>
                  </li>
                  <li class="genre">
                    <p class="genre-list">都道府県</p>
                    <p class="genre-name"><%= result.prefecture.name%></p>
                  </li>
                  <li class="genre">
                    <p class="genre-list">投稿者</p>
                    <p class="genre-name"><%= result.user.name%></p>
                  </li>
                </ul>
              </div>
            <% end %>
          </li>