<div class="devise-body">
  <div class="devise-main">
    <%= form_with model: @user, url: user_session_path, class: 'devise-content', local: true do |f| %>
    <div class="form-wrap">
        <h1 class="form-header-text">ログイン</h1>

        <div class="field">
          <%= f.label :email, class: 'form-text' %>
          <%= f.email_field :email, placeholder: 'PC, 携帯どちらでも可', autofocus: true, autocomplete: "email", class: 'input-default' %>
        </div>

        <div class="field">
          <%= f.label :password, class: 'form-text' %>
          <%= f.password_field :password, placeholder: '6文字以上の半角英数字', autocomplete: "current-password", class: 'input-default' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me, class: 'form-check-box' %>
            <%= f.label :remember_me, class: 'form-text' %>
          </div>
        <% end %>

        <div class="field">
          <%= f.submit "送信", class: 'submit-btn', id: 'submit' %>
        </div>
      <%= render "devise/shared/links" %>

      <%= link_to 'トップページ', "/", class: 'root-top'%>
      
    </div>

    <% end %>
  </div>
</div>

