<div class="aaa">
  <div class="bbb">
    <%= render partial: "shared/header" %>
    <main>
      <ul class="main-body">
        <li class="restaurant-list">
          <%= link_to "#", class: 'detail-restaurant' do %>
            <div class="restaurant-name">
              <p>店の名前</p>
            </div>
            <div class="detail">
              <div class= "detail-left">
                  <img src="" alt="">
              </div>
              <ul class="detail-right">
                <li class="genre">
                  <p>店の種類</p>
                </li>
                <li class="genre">
                  <p>生ビール</p>
                </li>
                <li class="genre">
                  <p>都道府県</p>
                </li>
                <li class="genre">
                  <p>投稿者</p>
                </li>
              </ul>
            </div>
          <% end %>
        <li class="restaurant-list">
          <%= link_to "#", class: 'detail-restaurant' do %>
            <div class="restaurant-name">
              <p>店の名前</p>
            </div>
            <div class="detail">
              <div class= "detail-left">
                  <img src="" alt="">
              </div>
              <ul class="detail-right">
                <li class="genre">
                  <p>店の種類</p>
                </li>
                <li class="genre">
                  <p>生ビール</p>
                </li>
                <li class="genre">
                  <p>都道府県</p>
                </li>
                <li class="genre">
                  <p>投稿者</p>
                </li>
              </ul>
            </div>
          <% end %>
        <li class="restaurant-list">
          <%= link_to "#", class: 'detail-restaurant' do %>
            <div class="restaurant-name">
              <p>店の名前</p>
            </div>
            <div class="detail">
              <div class= "detail-left">
                  <img src="" alt="">
              </div>
              <ul class="detail-right">
                <li class="genre">
                  <p>店の種類</p>
                </li>
                <li class="genre">
                  <p>生ビール</p>
                </li>
                <li class="genre">
                  <p>都道府県</p>
                </li>
                <li class="genre">
                  <p>投稿者</p>
                </li>
              </ul>
            </div>
          <% end %>
        <li class="restaurant-list">
          <%= link_to "#", class: 'detail-restaurant' do %>
            <div class="restaurant-name">
              <p>店の名前</p>
            </div>
            <div class="detail">
              <div class= "detail-left">
                  <img src="" alt="">
              </div>
              <ul class="detail-right">
                <li class="genre">
                  <p>店の種類</p>
                </li>
                <li class="genre">
                  <p>生ビール</p>
                </li>
                <li class="genre">
                  <p>都道府県</p>
                </li>
                <li class="genre">
                  <p>投稿者</p>
                </li>
              </ul>
            </div>
          <% end %>
        <li class="restaurant-list">
          <%= link_to "#", class: 'detail-restaurant' do %>
            <div class="restaurant-name">
              <p>店の名前</p>
            </div>
            <div class="detail">
              <div class= "detail-left">
                  <img src="" alt="">
              </div>
              <ul class="detail-right">
                <li class="genre">
                  <p>店の種類</p>
                </li>
                <li class="genre">
                  <p>生ビール</p>
                </li>
                <li class="genre">
                  <p>都道府県</p>
                </li>
                <li class="genre">
                  <p>投稿者</p>
                </li>
              </ul>
            </div>
          <% end %>
        <li class="restaurant-list">
          <%= link_to "#", class: 'detail-restaurant' do %>
            <div class="restaurant-name">
              <p>店の名前</p>
            </div>
            <div class="detail">
              <div class= "detail-left">
                  <img src="" alt="">
              </div>
              <ul class="detail-right">
                <li class="genre">
                  <p>店の種類</p>
                </li>
                <li class="genre">
                  <p>生ビール</p>
                </li>
                <li class="genre">
                  <p>都道府県</p>
                </li>
                <li class="genre">
                  <p>投稿者</p>
                </li>
              </ul>
            </div>
          <% end %>
      </ul>
    </main>
    <%= render partial: "shared/footer" %>
  </div>
</div>