<div class="restaurant-body">
  <div class="devise-main">
    <%= form_with model: @restaurant, class: 'devise-content', local: true do |f| %>


    <div class="form-wrap">
      <%= render "shared/error_messages", model: f.object %>

      <h1 class="form-header-text">飲食店情報入力</h1>

      <div class="field">
        <%= f.label :image, '店の画像', class: 'form-text'%>
        <%= f.file_field :image, class: 'input-default' %>
      </div>

      <div class="field">
        <%= f.label :name, "店名", class: 'form-text'%>
        <%= f.text_area :name, placeholder:"飲食店名を入力してください", class: 'input-default'%>
      </div>

      <div class="field">
        <%= f.label :beer, "生ビール", class: 'form-text'%>
        <%= f.text_area :beer, placeholder:"生ビール名を入力してください", class: 'input-default'%>
      </div>

      <div class="field">
        <%= f.label :genre_id, "ジャンル", class: 'form-text'%>
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class: 'input-default'}) %>
      </div>

      <div class="field">
        <%= f.label :prefecture_id, '都道府県', class: 'form-text'%>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class: 'input-default'}) %>
      </div>

      <div class="field">
        <%= f.label :city, '住所', class: 'form-text' %>
        <%= f.text_area :city, placeholder:'住所を入力してください', class: 'input-default'%>
      </div>

      <div class="field">
        <%= f.label :address, '番地', class: 'form-text' %>
        <%= f.text_area :address, placeholder: '番地を入力してください', class: 'input-default'%>
      </div>

      <div class="field">
        <%= f.submit "投稿する", class:'submit-btn', id: 'submit'%>
      </div>

      <%= link_to 'トップページ', "/", class: 'root-top'%>

    </div>



    <% end %>
  </div>

</div>
