<%= render partial: "shared/header2"%>

<main>
  <div class="show-main">
    <div class="show-content">
      <h2 class="show-name"><%= @restaurant.name%></h2>
      <div class="img-content">
        <% @restaurant.images.each do |image| %>
        <%= image_tag image, class: 'img-restaurant'%>
        <% end %>
      </div>

        <% if current_user == @restaurant.user%>

          <div class="edit-delete-btn">
            <div class="edit">
              <%= link_to edit_restaurant_path(@restaurant), class: 'edit-btn' do%>
                <span>飲食店編集</span>
              <% end %>
            </div>
            <div class="delete">
              <%= link_to restaurant_path, method: :delete, class: 'delete-btn' do%>
                <span>削除</span>
              <% end %>
            </div>
          </div>

        <% end %>

      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-restaurant">投稿者</th>
            <td class="detail-value"><%= link_to @restaurant.user.name, user_path(@restaurant.user), class: 'restaurant-show-user'%></td>
          </tr>
          <tr>
            <th class="detail-restaurant">業態</th>
            <td class="detail-value"><%= @restaurant.genre.name%></td>
          </tr>
          <tr>
            <th class="detail-restaurant">生ビール</th>
            <td class="detail-value"><%= @restaurant.beer%></td>
          </tr>
          <tr>
            <th class="detail-restaurant">都道府県</th>
            <td class="detail-value"><%= @restaurant.prefecture.name%></td>
          </tr>
          <tr>
            <th class="detail-restaurant">住所</th>
            <td class="detail-value"><%= @restaurant.address%></td>
          </tr>
         
        </tbody>
      </table>
      <div id="restaurant_<%= @restaurant.id%>">
      
      
     <%= render partial: 'likes/like', locals: { restaurant: @restaurant} %>
      </div>
 


      <%= link_to '現在位置から店の行き方を知りたい方はこちら', google_restaurant_path, class: 'root-top' %>

      <script type="text/javascript">
        function initMap() {
          let test ={lat: <%= @restaurant.latitude %>, lng: <%= @restaurant.longitude %>};
          let map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15, 
            center: test
            });
          let transitLayer = new google.maps.TransitLayer();
          transitLayer.setMap(map);
          console.log(transitLayer)
          console.log('aaa')

          let contentString = '店舗名：<%= @restaurant.name %>';
          let infowindow = new google.maps.InfoWindow({
            content: contentString
          });

          let marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString,
            animation: google.maps.Animation.DROP,
            icon: "https://maps.google.com/mapfiles/ms/micons/pink-dot.png"
            });

          marker.addListener('click', function() {
            infowindow.open(map, marker);
            this.setAnimation(google.maps.Animation.BOUNCE);
          });

          marker.addListener('mouseout', function(){
            this.setAnimation(null);
          });

        }
      </script>

 <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
    </script>

<div id="map"></div>


      <div class="sake-lists">ここで飲める日本酒一覧</div>
        <div class="sake-restaurant-btn">
          <% @restaurant.sakes.each do |sake| %>
            <div class="sake-btn">
              <%= link_to sake_path(sake), class: 'sake-restaurant-link' do %>
              <span><%= sake.name %></span>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</main>

<%= render partial: 'shared/footer'%>